ion-header {
  ion-title {
    height: 120px;
    background-color: black;
  }
}

#nav-inicio-option {
  position: relative;
  left: 1500px;
  top: 50px;
  color: white;
}

#link-inicio {
  text-decoration: none;
}