.teste {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

#link-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 25px;
}

@media (max-width: 700px) { 
  #testando {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }
}