h1 {
  font-family: "Reckless";
  font-style: italic;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -.0625rem;
  display: flex;
  align-items: flex-start;
}

img {
  object-fit: cover;
  height: 600px;
  box-shadow: 0 16px 32px #00000052;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.artist-info {
  display: flex;
  flex-direction: row;
  color: var(--brand-color-primary-pure);
  font-size: var(--font-size-xxs);
  margin: 100px;
  box-shadow: none;
}

.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 20px;
}

div {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 700px) { 
  .artist-info {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
}
