h1 {
  font-family: "Reckless";
  font-style: italic;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -.0625rem;
  position: relative;
  top: 20px;
  display: flex;
  align-items: flex-start;
}

img {
  object-fit: cover;
  height: 600px;
  box-shadow: 0 16px 32px #00000052;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.artist-info {
  color: var(--brand-color-primary-pure);
  font-size: var(--font-size-xxs);
  vertical-align: top;
  top: 40px;
  width: 600px;
  margin: 30px;
}

.all {
  position: relative;
  top: 100px;
  left: 350px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

p {
  font-size: 20px;
}
