.artist-card {
  display: flex;
  flex-direction: row;
  color: var(--brand-color-primary-pure);
  font-size: var(--font-size-xxs);
  margin: 100px;
  margin-bottom: 20px;
  box-shadow: none;
}

.artist-card-data {
  display: flex;
  flex-wrap: wrap;
}

ion-card-title {
  display: flex;
  align-items: flex-start;
  font-family: "Reckless";
  font-style: italic;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -.0625rem;
}

img {
  object-fit: cover;
  height: 600px;
  box-shadow: 0 16px 32px #00000052;
  border-radius: 8px;
}

p {
  font-size: 20px;
}

@media (max-width: 700px) { 
  .artist-card {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
}
