:root {
  // Font Size Helpers
  .font-size-xxxs {
    font-size: var(--font-size-xxxs);
  }

  .font-size-xxs {
    font-size: var(--font-size-xxs);
  }

  .font-size-xs {
    font-size: var(--font-size-xs);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }

  .font-size-md {
    font-size: var(--font-size-md);
  }

  .font-size-lg {
    font-size: var(--font-size-lg);
  }

  .font-size-xl {
    font-size: var(--font-size-xl);
  }

  .font-size-xxl {
    font-size: var(--font-size-xxl);
  }

  .font-size-xxxl {
    font-size: var(--font-size-xxxl);
  }

  .font-size-display {
    font-size: var(--font-size-display);
  }

  .font-size-giant {
    font-size: var(--font-size-giant);
  }

  // Font Weight Helper
  .bold {
    font-weight: var(--font-weight-bold);
  }

  .regular {
    font-weight: var(--font-weight-regular);
  }

  .light {
    font-weight: var(--font-weight-light);
  }
}
