ion-title {
  align-items: flex-end;
  font-family: "Reckless";
  font-size: 25px;
  font-weight: 600;
  letter-spacing: -.0625rem;
}

ion-button {
  display: flex;
  width: 210px;
  height: 50px;
  font-size: medium;
  font-family: "sans-serif";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.78px;
  margin-top: 30px;
}

app-artist-button {
  margin: 15px;
}

.form-title-container {
  display: flex;
  justify-content: center;
}

.container-form-button {
  display: flex;
  justify-content: center;
}
